.dataNumber1{
  font-size: 1.5rem;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(247, 177, 47);
}
.dataNumber2{
  font-size: 1.5rem;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(248, 36, 36);
}
.dataNumber3{
  font-size: 1.5rem;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(111, 255, 44);
}
.confirmed-container{
  margin: 1px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  background-color: yellow;
}
.recovered-container{
  margin: 1px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  background-color: greenyellow;
}
.death-container{
  margin: 1px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  background-color: red;
}
.table-container{
  margin: 5px;
}
.main-container{
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}
.header{
  font-family: 'Texturina', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
}