.main{
  
}
.header{
  text-align: center;
}
.main-nav-container{
  align-content: center;
}
.link-container{
  margin-left: 15px;
}
.link1{
  padding-left: 10px;
  padding-right: 10px;
}
.link2{
  padding-left: 10px;
  padding-right: 10px;
}
.link3{
  padding-left: 10px;
  padding-right: 10px;
}
.main-container{
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}
.table-container{
  margin: 25px;
}
.card_confirmed{
  width: 200px;
  height: 150px;
  padding-bottom: 33px;
  text-align: center;
  border-radius: 25px;
  border-width: 7px;
  border-color: yellowgreen;
  border-style: solid;
  font-weight: bold;
  font-size: 25px;
}
.card_recovered{
  width: 200px;
  height: 150px;
  padding-bottom: 33px;
  text-align: center;
  border-radius: 25px;
  border-width: 7px;
  border-color: green;
  border-style: solid;
  font-weight: bold;
  font-size: 25px;
}
.card_death{
  width: 200px;
  height: 150px;
  padding-bottom: 33px;
  text-align: center;
  border-radius: 25px;
  border-width: 7px;
  border-color: red;
  border-style: solid;
  font-weight: bold;
  font-size: 25px;
}
.confirmed-container{
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: yellow;
}
.recovered-container{
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  background-color: greenyellow;
}
.death-container{
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  background-color: red;
}
.table-value-first{
  background-color: wheat;
  padding-left: 10px;
  padding-right: 10px;
}
.table-value-second{
  background-color: turquoise;
  padding-left: 25px;
  padding-right: 25px;
}
.table-value-third{
  background-color: yellow;
  padding-left: 25px;
  padding-right: 25px;
}
.table-value-fourth{
  background-color: rgb(0, 255, 0);
  padding-left: 25px;
  padding-right: 25px;
}
.table-value-fifth{
  background-color: red;
  padding-left: 40px;
  padding-right: 40px;
}